/* Add your custom extension styling here */

.quick-toggle-menu-container .user-icon {
  icon-size: 40px
}
  
.quick-toggle-menu-container .user-icon.user-avatar {
  box-shadow: none; }

.quick-toggle-menu-container .user-widget {
  spacing: 6px; }
  
  
  .quick-toggle-menu .user-icon {
icon-size: 2.7615em;
}

.quick-toggle-menu .user-widget {
  spacing: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding: 12px;
  
}

.quick-toggle-menu .user-widget-label {
font-size: large;
font-weight: bold;
  }
